extends shared/layout
block main-content
    .jumbotron
        h3 Hey Ya'll, Welcome to Share-a-Tube
        h4 a place to share and discover YouTube playlists
        a(href="/playlists/popular") View Most Popular Playlists
        block list-content

